@charset "utf-8";
/* 简单reset */
body, ul, li {
     margin: 0;
     padding: 0;
  }
body {
     font: 14px/24px Microsoft YaHei ;
     color: #333;
}
ul   { 
     list-style: none; 
}
a {
      color: #333;
      outline: none;
      text-decoration: none;
}
a:hover { 

      color: #2986dd; 

}

.clearfix:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
}
  
.wrap {
      width: 900px;
      padding-top: 10%;
      padding-left: 50%;
      margin: 0 auto;
}
                
                      
.autoBox {
      position: relative;
      margin: 0 auto;
      overflow: hidden;
      background-color: #e4e4e4;
}
.autoBox ul {
      position: absolute;
      list-style: none;
      z-index: 2;
}


/* 第二、三个列表 */ /* PS：上下滚动型列表需要css定义宽度，li标签尽量不要设置margin值 */
#autoScroll {
      width: 50%;
      height: 80%;
      margin-top: 3%;
}
#autoScroll ul li {
      height: 30px;
      line-height: 30px;
      overflow: hidden;
}
      
#autoScroll li a,  {
      display: block;
      width: 100%;
      height: 34px;
      line-height: 34px;
      margin: 5px 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
}
    
.write {

      height : 50%;
      width: 50%;
      display: block;
      margin: 5px 0;
}    
